*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body{}

@media (max-width: 1200px){
	.container{
		max-width: 970px;
	}
}
@media (max-width: 992px){
	.container{
		max-width: 750px;
	}
}
@media (max-width: 767px){
	.container{
		max-width: none;
	}
}
.header{
	width: 100%;
	padding: 30px 0px;
}

.header .container{
	max-width: 996px;
	background: #E6E6FA;
	margin: 0px auto;
}
.header__title{
	margin: 0px auto;
}
.header__title h1{
	font-family: 'Lora', serif;
	font-size: 50px;
	font-weight: 500;
	color: #000000;
	line-height: 50px;
	text-align: center;
	padding: 30px 0px;
}
.header__table{
	max-width: 985px;
	margin: 0px auto;
	padding-bottom: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
.header__table__preview{
	width: 345px;
	display: flex;
	flex-direction: column;
}
.header__table__github{
	width: 345px;
	display: flex;
	flex-direction: column;
}
.header__table a{
	font-family: 'Lora', serif;
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-align: center;
	border: 0.5px solid #483D8B;
	background: #FFF0F5;
	padding: 15px 0px;
}