@media (max-width: 1400px){
	.el_title .el_title__title::after{
		width: 44%;
	}
}

@media (max-width: 1200px){
	.container{
		max-width: 970px;
	}
	.study__title::before{
		content: '';
		display: none;
	}
	.study__title::after{
		content: '';
		display: none;
	}
	.opinion .opinion__title::before{
		content: '';
		display: none;
	}
	.opinion .opinion__title::after{
		content: '';
		display: none;
	}
}

@media (max-width: 992px){
	.header__head .media_nav{
        display: block;
    }
    .study .media_max{
		display: none!important;
	}
    .study .media_min{
		display: flex;
	}
	.stock_bg .stock_bg__photo{
		max-width: 340px;
		left: -30px;
	}
	.stock_bg .stock_bg__text{
		max-width: 380px;
		padding: 0px 8px;
	}
	.stock__content .stock_bg_2{
		max-width: 570px;
	}
	.stock__content .stock_bg_1{
		max-width: 650px;
	}
	.el_title .el_title__title::after{
		display: none;
	}
	.opinion .bx-wrapper .bx-prev{
	    left: 45%;
	}
	.opinion .bx-wrapper .bx-next{
	    right: 45%;
	}
 	.footer__item__right{
		margin-top: 40px;
	}
	.footer__item__left{
		margin-left: 150px;
	}
	.footer__item__left button{
		width: 345px;
		height: 55px;
		border: 3px solid #FFFFFF;
		box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
		color: #000000;
	}
	.footer__item__left button p{
		font-size: 22px;
		line-height: 27px;
		padding-left: 0;
		color: #000000;
	}
	.footer__item__left p{
		font-size: 12px;
		line-height: 14px;
	}
	.footer .footer__title{
		text-align: center;
		padding-top: 90px;
	}
	.contact a{
		padding-top: 12px;
	}
	.contact .contact_img{
		background-color: #DCAD55;
	}
}

@media (max-width: 768px){
	.study .study__title{
    	text-align: center!important;
    }
    .study .study__text{
    	text-align: center!important;
    }
    .study .media_min{
		display: flex;
		flex-direction: column;
	}
	.media_min .left{
		padding-left: 55px;
	}
	.stock .container{
		padding: 0;
	}
	.stock_bg .stock_bg__photo{
		left: 0px;
	}
	.stock__content .stock_bg_2{
		max-width: 420px;
	}
	.stock__content .stock_bg_1{
		max-width: 480px;
	}
	.opinion .opinion__title::before{
		width: 10%;
	}
	.opinion .opinion__title::after{
		width: 10%;
	}
	.opinion .bx-wrapper .bx-prev{
	    left: 44%;
	}

	.opinion .bx-wrapper .bx-next{
	    right: 44%;
	}
	.question .question_flex{
		flex-direction: column;
		align-items: center;
	}
	.question__button button{
		justify-content: center;
	}
}

@media (max-width: 638px){
	.header__form .header__form__title{
		text-align: right;
		font-size: 40px;
		line-height: 48px;
	}
	.course .course__title::before{
		display: none;
	}
	.course .course__title::after{
		display: none;
	}
	.teacher .teacher__title::before{
		display: none;
	}
	.teacher .teacher__title::after{
		display: none;
	}
	.el_title .el_title__title::after{
		width: 30%;
	}
	.buy_course__el .el_button a:nth-child(1) {
	    margin-left: 70px;
	}
	.opinion .opinion__title{
		text-align: center;
	}
	.opinion .opinion__title::before{
		display: none;
	}
	.opinion .opinion__title::after{
		display: none;
	}
	.opinion .bx-wrapper .bx-prev{
	    left: 42%;
	}

	.opinion .bx-wrapper .bx-next{
	    right: 42%;
	}
}

@media (max-width: 576px){
	.el_title .el_title__title{
		font-size: 38px;
	}
	.el_title .el_title__title h2{
		margin-left: -55px;
	}
}

@media (min-width: 360px) and (max-width: 425px){
	.header__head .media_nav{
        display: none;
    }
    .header .menu_list li a:hover{
		color: #FFFFFF!important;
	}
	.header__title .header__title__inner h1{
		display: none;
	}
	.header__title .header__title__inner h2{
		display: none;
	}
	.header__title .header__title__inner h3{
		display: none;
	}
	.header__title .header__title__inner ul{
		display: none;
	}
	.header__title img{
		display: none;
	}
	.header .header__title{
		background: url('../img/FamilyGroup.png') 50%/cover no-repeat;
	}
	.header__title__inner .inner_button{
		max-width: 316px;
		height: 89px;
		border: 5px solid #B09157;
		margin-top: 360px;
	}
	.inner_button svg{
		margin-right: 24px;
	}
	.header__form .header__form__title{
		text-align: center;
		padding: 30px 0 15px 0;
	}
	.header__form .header__form__inner{
		margin-left: 16px;
	}
	.about .about__title h2{
		margin-left: 70px;
	}
	.about__title .about__title__line{
		display: none;
	}
	.about .about__text{
		text-align: center;
	}
	.study__table__column .col_element{
		border: none;
	}
	.study__table__column .left{
		padding-left: 0;
	}
	.course .course__text{
		text-align: center;
	}
	.course__block_inner{
		margin-left: 0;
	}
	.teacher .teacher__title{
		text-align: center;
	}
	.teacher__table__column{
		padding-right: 0;
	}
	.info{
		padding-left: 20px;
		padding-right: 20px;
	}
	.info_element{
		max-width: 320px;
	}
	.stock_bg .stock_bg__photo{
		display: none;
	}
	.stock_bg .stock_bg__text{
		max-width: 360px;
		font-size: 12px;
		line-height: 28px;
		text-align: center!important;
	}
	.stock__content .stock_bg{
		max-width: 340px;
	}
	.stock__content .stock_bg_2{
		max-width: 260px;
	}
	.stock__content .stock_bg_1{
		max-width: 300px;
	}
	.el_title .el_title__img{
		width: 180px;
		margin-right: -90px;
	}
	.opinion .bx-wrapper .bx-prev{
	    left: 38%;
	}
	.opinion .bx-wrapper .bx-next{
	    right: 38%;
	}
	.question .question__title{
		text-align: center;
	}
	.question .question__text{
		text-align: center;
	}
	.footer__item__left{
		margin-left: 26px;
	}
	.footer__item .footer__item__left{
		padding-left: 70px;
		margin-bottom: 40px;
	}
	.footer__item__right .contact{
		margin-bottom: 39px;
	}
	.back-to-top{
	    right: 20px;
	    bottom: 20px;
	}
}

@media screen and (prefers-reduced-motion: no-preference){
  html,
  body{
    scroll-behavior: smooth;
  }
}