@font-face {
    font-family: "ArticaPro";
    src: url("ArticaPro-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "ArticaPro-Medium";
  src: url("ArticaPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArticaPro-Bold";
  src: url("ArticaPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
    